/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-image: url("../src/assets/img/bg-mv-1.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
